build
/t3_Composite/nbproject/private/
/t4_Observer/nbproject/private/
/t2_AbstractFactory/nbproject/private/
/t5_Singleton/nbproject/private/
/t1_FactoryMethod/nbproject/private/
/t6_Decorator/nbproject/private/
/t7_State/nbproject/private/
/t9_Strategy/nbproject/private/
/t8_TemplateMethod/nbproject/private/
/t10_ChainOfResponsibility/nbproject/private/