build
/FactoryMethod/nbproject/private/
/AbstractFactory/nbproject/private/
/Composite/nbproject/private/
/Observer/nbproject/private/
/Singleton/nbproject/private/
/t3_Composite/nbproject/private/
/t4_Observer/nbproject/private/